[class^='col'] {
	padding: 10px;
	background-color: blue;
	color: white;
	border: 1px solid white;
    text-align: center;
}

.inside{
    background-color: rgb(2, 224, 2);
    border-color: blue;
}

.row.inside{
    margin: 0;
}


section {
	padding: 5px;
}
